header {
  background-color: #03182E;
}
.navbar a {
  color:white;
  text-decoration: none;
  padding-right: 40px;
}
.navbar {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 1fr;
  padding: 20px;
  position: sticky;
}

.logo {
  grid-column: 1;
}
.hamburger {
  grid-column: 2/7;
  display: flex;
}
.login {
  grid-column: 7;
  text-align: end;
}
.abonnement {
  grid-column: 8;
  text-align: end;
}
html {
  font-family: 'Georgia', sans-serif;
}
.navbar img {
  width:130px
}