
body {
  font-family: 'Georgia', sans-serif;
  font-weight: 400;
}
.topnav {
  background-color: #061D2E;
  overflow: hidden;
  padding:10px;
}

.topnav a, .login a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 5px;
  text-decoration: none;
  font-size: 17px;
}

.topnav .icon {
  display: none;
}

#subscribe  {
  background-color: #973100;
  border-radius: 10px;
  border : 1px solid black;
}

  .topnav a {display: none;}
  .topnav a.icon {
    float: left;
    display: block;
  }
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    left: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
#login {
  display: none;
}
.navbar {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: auto;
  align-items: center;
  background-color: #061D2E;
}
.logo {
  grid-column: 2;
  grid-row: 1;
  justify-self: center;
}
.topnav {
  grid-column: 1;
  grid-row: 1;
  justify-self: left;
}
.login {
  grid-column: 3;
  grid-row: 1;
  justify-self: right;
  display:flex;
  flex-direction: row-reverse;
}
#login2 {
  padding-left: 20px;
}
.title a {
  border-bottom: 1px dotted;
  text-decoration: none;
}
#history {
  border: none;
}
#action2 {
  font-style: normal;
}
.fonctions a {
  display: none;
  padding: 10px;
  color: #0140ac;
  border:1px solid gray;
  border-radius: 5px;
  font-weight: bolder;
  box-shadow: 2px 2px 5px rgb(182, 182, 182);
}
.fonctions a.icon {
  float: right;
  display: block;
  margin-right:100px ;
}
.fonctions.responsive2 {
  position: relative;
}
.fonctions.responsive2 a.icon {
  position: absolute;
  right: 0;
  top: 0;
}
.fonctions.responsive2 a {
  float: none;
  display: inline;
  text-align: right;
}
.table-of-content {
  text-align: center;
  width: 300px;
  border:1px solid gray;
  border-radius: 5px;
  font-weight: bolder;
  box-shadow: 2px 2px 5px rgb(182, 182, 182);
}
.table-of-content p {
  text-align: center;
}
.table-of-content a{
  text-decoration: none;
  color: #0140ac;
}

@media only screen and (min-width:900px) {
.topnav a {
  display: block;
  padding: 13px;
}
.topnav a.icon {
  display: none;
}
.logo {
  padding-left: 15px;
}
.navbar {
  display: grid;
  grid-template-columns: 200px auto auto;
  grid-template-rows: auto;
}
.logo {
  grid-column: 1;
  grid-row: 1;
  justify-self: left;
}
.topnav {
  grid-column: 2;
  grid-row: 1;
  justify-self: left;
}
.login {
  grid-column: 3;
  grid-row: 1;
  justify-self: right;
}
#login {
  display: inline;
  font-style: normal;
}
.iconlogin {
  display: none;
}
.fonctions a {
  display: inline;
  padding: 13px;
  border: none;
}
.fonctions a.icon {
  display: none;
}
}